#title
{
	background-color: #ff4c68;
	color: white;
}
body
{
	font-family: 'Numans', sans-serif;
}

h1,h2,h3
{
	font-family: 'Montserrat', sans-serif;
}

h1
{
	font-size: 3rem;
	line-height: 1.5;
}
h2
{
	font-size: 2.5rem;
	line-height: 1.5;
}
.image
{
	transform: rotate(25deg);
	position: absolute;
	width: 60%;
	right: 30%;

}
.container-fluid
{
	padding: 3% 15% 7%;
}
.navbar-brand
{
	font-size: 2.5rem;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
}
.navbar
{
	padding: 0 0 4.5rem;
}
.nav-item
{
	padding:  0 18px;

}
.nav-link
{
	font-size: 1.2rem;
}
.download-button
{
	margin: 5% 3% 5% 0%;
}
.icon
{
   color: #ef8172;
   margin-bottom: 1rem;
}
.icon:hover
{
	color: #ff4c68;
}
#features
{
	padding: 7% 15%;
	background-color: white;
	position: relative;
	z-index: +1;

}
.three
{
	text-align: center;
	padding: 5%;
}
p
{
	color: #8f8f8f;
}
#testimonials
{

	text-align: center;
	background-color: #ef8172;
	color: #fff;
}
.test-image
{
	width: 20%;
	border-radius: 100%;
	margin: 20px;

}
#press
{
	background-color: #ef8172;
	text-align: center;
}
.press-logo
{
	width: 15%;
	margin: 20px 20px 70px;
}
.carousel-item
{
	padding: 7% 15%;
}
.btn-outline-dark:hover {
	background-color: #ef8172;
}

#pricing {
	text-align: center;
	padding: 100px;
}



.pricing-cl {
	padding: 3% 2%;
}

@media (max-width: 1100px)
{
	.image
	{
		position: static;
		transform: rotate(0);
	}
	#title
	{
		text-align: center;
	}
}

#cta {
	text-align: center;
	background-color: #ff4c68;
	padding: 7% 15%;
}
.footer-down
{
	margin-bottom: 5%;
	color: #fff;
	font-size: 2.5rem;
	line-height: 1.5;
}


#footer {
	padding: 7% 15%;
	text-align: center;
}

.footer-icon {
	margin: 20px 10px;
	color: #ff4c68;
}
.footer-icon:hover{
	color: red;
}

.card {
   transition-duration: 0.4s;
}
.card:hover
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.1);
}
